{{ $contact := .Site.Data.contact }}

<section id="kontakt" class="contact mt-5 p-3 p-lg-5 p-md-5">
	<div class="container">

		<h2 class="h2 my-5 text-center">Kontakt</h2>

		<form id="contact">
			<div class="row justify-content-md-center">
			
				<div class="col-12 col-lg-4 col-md-4 rounded text-dark mb-5" style="font-size: 18px">
					{{ if $contact.email }}
					<div class="mb-3">
						<div class="text-uppercase text-muted">E-Mail</div>
						<div>{{ $contact.email }}</div>
					 </div>
					{{ end }}
					{{ if $contact.phone }}
					<div class="mb-3">
						<div class="text-uppercase text-muted">Telefon</div>
						<div>{{ $contact.phone }}</div>
					</div>
					{{ end }}
					{{ if $contact.address }}
					<div class="mb-3">
						<div class="text-uppercase text-muted">
							Adresse
						</div>
						<div>{{ $contact.address | safeHTML }}</div>
					</div>
					{{ end }}
				</div>
				<div class="col-12 col-lg-6 col-md-6">
						<div class="row">
							<div class="col-12 col-lg-6 col-md-6">
								<div class="form-group">
									<input type="text" name="name" class="form-control" placeholder="Ihr vollständiger Name" required>
								</div>
							</div>
							<div class="col-12 col-lg-6 col-md-6">
								<div class="form-group">
									<input type="email" name="email" class="form-control" placeholder="Ihre E-Mail Adresse" required>
								</div>
							</div>
							<div class="col-12">
								<div class="form-group">
									<input type="text" name="subject" class="form-control" placeholder="Ihr Anliegen" required>
								</div>
							</div>
							<div class="col-12">
								<div class="form-group">
									<textarea placeholder="Bitte beschreiben Sie Ihr Anliegen. Auf Wunsch rufen wir auch gern zurück." name="message" rows="5" class="form-control" required></textarea>
								</div>
							</div>
							<div class="col-12">
								<div class="form-group">
									<label>
										<input type="checkbox" id="consent-datenschutz" name="consent" class="pull-right" required>
										<span class="text-muted p-1">Ich akzeptiere die Verarbeitung meiner Daten im Rahmen der <a href="/datenschutz/" target="_blank">Datenschutzerklärung</a>.</span>
									</label>
								</div>
							</div>
							<div class="col-12">
									<button type="submit" class="btn btn-primary">Nachricht absenden</button>
							</div>
						</div>
					</div>
			</div>
		</form>
	</div>
</section>

<script src="https://www.google.com/recaptcha/api.js?render=6LcFSLgUAAAAAAa3OwvOO2UX9PJRbtooqKF00XqJ"></script>

<script type="text/javascript">
window.addEventListener("load", function(){
  $("#contact").submit(function(event){
    event.preventDefault(); //prevent default action 
    var proceed = true;
    var form = this;
    
    //simple validation at client's end
    //loop through each field and we simply change border color to red for invalid fields    
    $(form).find(':required').each(function(){
      if(!$.trim($(this).val())){ //if this field is empty 
        proceed = false; //set do not proceed flag
      }
    });  
   
    if (proceed) { //everything looks good! proceed...
      grecaptcha.ready(function() {
          grecaptcha.execute('6LcFSLgUAAAAAAa3OwvOO2UX9PJRbtooqKF00XqJ').then(function(token) {
            $(form).append('<input type="hidden" name="token" value="' + token + '">');

            $.ajax({
              url: '/send.php',
              type: 'post',
              dataType: 'json',
              data: $(form).serialize()
            })

              .done(function(response) { 
				window.location.href = "/versandt/";
              })

              .fail(function(response) {
                $.notify({
					message: '{{ $.Page.Site.Data.config.contact.error }}',
					icon: 'fa fa-exclamation-circle'
				}, {
                  type: 'danger',
				  placement: { align: "center" },
				  allow_dismiss: false
                });
              });
            });
        });
    }
  });
});
</script>