
    
      {{ $code := .Site.Data.config.googleAnalytics }}
      {{ if $code }}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ $code }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ $code }}');
      </script>
      {{ end }}

    {{ $jquery := resources.Get "js/jquery.js" | minify }}
    {{ $bootstrap := resources.Get "js/bootstrap.js" | minify }}
    {{ $notify := resources.Get "js/bootstrap-notify.js" | minify }}
    {{ $poppler := resources.Get "js/poppler.js" | minify }}
    {{ $cookieConsent := resources.Get "js/cookieconsent.js" | minify }}
    {{ $fontawesome := resources.Get "js/fontawesome.js" | minify }}
    {{ $hypher := resources.Get "js/hypher.js" | minify }}
    {{ $hypherDe := resources.Get "js/hypher-de.js" | minify }}
    {{ $lime := resources.Get "js/script.js" | minify }}
    
    {{ $script := slice $jquery $bootstrap $notify $poppler $cookieConsent $fontawesome $hypher $hypherDe $lime | resources.Concat "bundle.js" | fingerprint }}
    <script type="text/javascript" src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>

    <script type="text/javascript">
      $('p').hyphenate('de');

      window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#655E7A"
            },
            "button": {
              "background": "#353240"
            }
          },
          "theme": "classic",
          "content": {
            "message": "Wir und unsere Partner verwenden Cookies, um unsere Dienste zu erbringen. Durch die Nutzung unserer Internetseite stimmen Sie der Nutzung von Cookies zu.",
            "dismiss": "zustimmen",
            "link": "Details",
            "href": "{{ .Site.BaseURL }}datenschutz/"
          }
        })
      });
      </script>

      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "LocalBusiness",
          "name": "Software Integration Technology Institute",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Deubener Straße 6",
            "addressLocality": "Dresden",
            "addressRegion": "Sachsen",
            "postalCode": "01159"
          },
          "image": "https://sit.institute/images/logo.png",
          "email": "info@sit.institute",
          "telePhone": "+49 (0) 351 463 386 08",
          "url": "https://sit.institute",
          "geo": {
            "@type": "GeoCoordinates",
            "latitude": "51.042170",
            "longitude": "13.692320"
          },
          "priceRange":"€"
        
        }
        </script>
  </body>
</html>