
    
      {{ $code := .Site.Data.config.googleAnalytics }}
      {{ if $code }}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ $code }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ $code }}');
      </script>
      {{ end }}

    {{ $jquery := resources.Get "js/jquery.js" | minify }}
    {{ $bootstrap := resources.Get "js/bootstrap.js" | minify }}
    {{ $notify := resources.Get "js/bootstrap-notify.js" | minify }}
    {{ $poppler := resources.Get "js/poppler.js" | minify }}
    {{ $cookieConsent := resources.Get "js/cookieconsent.js" | minify }}
    {{ $fontawesome := resources.Get "js/fontawesome.js" | minify }}
    {{ $hypher := resources.Get "js/hypher.js" | minify }}
    {{ $hypherDe := resources.Get "js/hypher-de.js" | minify }}
    {{ $lime := resources.Get "js/script.js" | minify }}
    
    {{ $script := slice $jquery $bootstrap $notify $poppler $cookieConsent $fontawesome $hypher $hypherDe $lime | resources.Concat "bundle.js" | fingerprint }}
    <script type="text/javascript" src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>

    <script type="text/javascript">
      $('p').hyphenate('de');

      window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#655E7A"
            },
            "button": {
              "background": "#353240"
            }
          },
          "theme": "classic",
          "content": {
            "message": "Wir und unsere Partner verwenden Cookies, um unsere Dienste zu erbringen. Durch die Nutzung unserer Internetseite stimmen Sie der Nutzung von Cookies zu.",
            "dismiss": "zustimmen",
            "link": "Details",
            "href": "{{ .Site.BaseURL }}datenschutz/"
          }
        })
      });
      </script>

      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "LocalBusiness",
          "name": "Software Integration Technology Institute",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Seeligstraße 7",
            "addressLocality": "Langebrück",
            "addressRegion": "Sachsen",
            "postalCode": "01465"
          },
          "image": "https://sit.institute/images/logo.png",
          "email": "info@sit.institute",
          "telePhone": "+49 (0) 351 463 386 08",
          "url": "https://sit.institute",
          "priceRange":"€"
        
        }
        </script>


<!-- Cal element-click embed code begins -->
<script type="text/javascript">
  (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; typeof namespace === "string" ? (cal.ns[namespace] = api) && p(api, ar) : p(cal, ar); return; } p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
  Cal("init", {origin:"https://app.cal.com"});
  
  // Important: Make sure to add `data-cal-link="sit-institute/kennenlernen"` attribute to the element you want to open Cal on click
  Cal("ui", {"styles":{"branding":{"brandColor":"#8D5FD3"}},"hideEventTypeDetails":false});
  </script>
  <!-- Cal element-click embed code ends -->

  </body>
</html>