{{ $footer := .Site.Data.footer }}
<section id="footer" class="py-3">
  <div class="container">
    <span class="text-muted">{{ $footer.footertext }}</span>
    <span class="float-right">
      <div style="margin-left: 1.5em;margin-top: -1.2em;">
        <a rel="nofollow" href="https://www.exali.de/siegel/sit-institute" target="_blank" title="Mehr &uuml;ber die IT-Haftpflicht von SIT Institute">
          <img src="//siegel.exali.de/siegel/Haftpflicht_Siegel_1_0b3f7697347522ecc0f77b9a103094cb.png" width="65" height="65"
            alt="Mehr &uuml;ber die IT-Haftpflicht von SIT Institute, Karsten Wendt und Peter Heisig GbR, Langebr&uuml;ck" />
        </a>
      </div>
    </span>
    <span class="float-right">
      {{ range $key, $value := .Site.Data.social }}
        <a href="{{ $value | safeURL }}" class="ml-2 btn-{{$key}}"><i class="fa fa-{{ $key }}"></i></a>
      {{ end }}
    </span>
  </div>
</section>