<!DOCTYPE html>
<html lang="de-DE">
  <head>
    <title>
 			{{ .Title }} {{ if ne .Title .Site.Title }} &middot; {{ .Site.Title }}{{ end }}
    </title>
    <meta charset="utf-8">
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ "favicon.png" | absURL }}" rel="icon" />
    <link rel="apple-touch-icon" href="{{ "favicon.png" | absURL }}" />

    <!-- og -->
    <meta name="og:title" content="{{ .Title }}"/>
	<meta name="og:url" content="{{ .Permalink }}"/>
	{{ if .Params.featuredimage }}
	<meta name="og:image" content="{{ .Params.featuredimage | absURL}}"/>
	{{ end }}
	{{ if .Params.description }}
  <meta name="og:description" content="{{ .Params.description }}"/>
  <meta name="description" content="{{ .Params.description }}">
  {{ else }}
  <meta name="og:description" content="{{ .Site.Data.config.site.description }}"/>
  <meta name="description" content="{{ .Site.Data.config.site.description }}">
  {{ end }}
	<meta name="og:site_name" content="{{ .Site.Title }}"/>
		
    {{ $bootstrap := resources.Get "/scss/bootstrap.scss" | resources.ToCSS | minify }}
    {{ $custom := resources.Get "/css/custom.css" | minify }}
    {{ $cookieconsent := resources.Get "/css/cookieconsent.css" | minify }}
    {{ $opensans := resources.Get "/css/font-opensans.css" | minify }}
    {{ $gothic := resources.Get "/css/font-gothic.css" | minify }}

    {{ $css := slice $bootstrap $cookieconsent $gothic $opensans $custom | resources.Concat "bundle.css" | fingerprint }}
    <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">
    
  </head>
  <body>
    
